{block title}Home{/block}

{block content}

<div class="homepage-wrapper">
    <div></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 knards-container">
                Stats
            </div>
        </div>
    </div>
    <div></div>
</div>

{/block}
